* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: royalblue;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  aspect-ratio: 1/1;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  border: 15px solid rgb(255 255 255 / 10%);
  display: flex;
  position: relative;
  justify-content: center;
  width: 80vw;
  max-width: 800px;
}

.clock-hour {
  display: flex;
  font-size: 2rem;
  position: absolute;
  justify-content: center;
  text-shadow: 0 0 5px white;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.hand {
  position: absolute;
  transform-origin: bottom center;
}

.hour-hand {
  background-color: white;
  height: 25%;
  width: 10px;
}

.minute-hand {
  background-color: white;
  height: 35%;
  width: 8px;
}

.second-hand {
  background-color: red;
  height: 40%;
  width: 4px;
}

.clock-center {
  background-color: red;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

@media (width <= 768px) {
  .clock-hour {
    font-size: 1.5rem;
  }
}

@media (width <= 600px) {
  .clock-hour {
    font-size: 1rem;
  }

  .hour-hand {
    height: 20%;
  }

  .minute-hand {
    height: 30%;
  }

  .second-hand {
    height: 35%;
  }
}

@media (width <= 425px) {
  .clock {
    border: 7px solid rgb(255 255 255 / 10%);
  }

  .hour-hand {
    width: 7px;
  }

  .minute-hand {
    width: 5px;
  }

  .second-hand {
    width: 3px;
  }

  .clock-center {
    height: 15px;
    width: 15px;
  }
}

@media (width <= 320px) {
  .clock-hour {
    font-size: 0.7rem;
  }
}
